!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title EditableSet Test Page
    / Load jquery and other vendor files
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:src => "/javascripts/vendor/scupper.js"}
    %title Jasmine Test Runner
    %link{:href => "/javascripts/vendor/jasmine-0.11.1/jasmine.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/javascripts/vendor/jasmine-0.11.1/jasmine.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/jasmine-0.11.1/jasmine-html.js", :type => "text/javascript"}
    / include source files here...
    %script{:src => "/javascripts/jquery.editable-set.min.js"}
    / include spec files here...
    %script{:src => "http://github.com/miwillhite/editable-set/raw/master/spec/spec_helper.js", :type => "text/javascript"}
    %script{:src => "http://github.com/miwillhite/editable-set/raw/master/spec/jquery.editable-set.spec.js", :type => "text/javascript"}
  %body
    %p
      %a{ :href => '/' } Return to EditableSet Homepage
  
    #test
    / ===========
    / = Snippet =
    / ===========
    #snippets
      #editable_snippet
        .editable
          %h3 Editable Field Set Title
          %ul
            %li
              / textfield with no association
              %span{"data-name" => "customer[street1]"} 123 Fake St.
            %li
              / email field
              %span{"data-name" => "customer[email]", "data-type" => "email"} john.doe@google.com
            %li
              / url field
              %span{"data-name" => "customer[url]", "data-type" => "url"} http://editable-set.heroku.com
            %li
              / number field
              %span{"data-max" => "120", "data-min" => "0", "data-name" => "customer[age]", "data-step" => "1", "data-type" => "number"} 25
            %li
              / range field
              %span{"data-max" => "10", "data-min" => "0", "data-name" => "customer[rage]", "data-step" => "10", "data-type" => "range"} 10
            %li
              / textfield with simple asssociation
              %span{"data-name" => "customer[address_attributes][street1]"} 123 Fake St.
            %li
              / textfield with deeply nested asssociation
              %span{"data-name" => "customer[employer_attributes][address_attributes][street1]"} 123 Fake St.
            %li
              / textfield with deeply nested asssociation, has many relationship
              %span{"data-name" => "customer[employers_attributes][0][address_attributes][street1]"} 123 Fake St.
            %li
              / textfield with deeply nested asssociation, two has many relationships
              %span{"data-name" => "customer[more_employers_attributes][0][addresses_attributes][1][street1]"} 123 Fake St.
            %li
              / textfield with extremely deeply nested asssociation, three has many relationships
              %span{"data-name" => "customer[spouses_attributes][0][employers_attributes][1][addresses_attributes][2][street1]"} 123 Fake St.
            %li
              / textfield with extremely deeply nested asssociation, three has one relationships
              %span{"data-name" => "customer[spouse_attributes][employer_attributes][address_attributes][street1]"} 123 Fake St.
            %li
              / hidden field
              %span{"data-name" => "customer[id]", "data-style" => "display: none;", "data-type" => "hidden"} 1
            %li
              / textarea
              %span{"data-name" => "customer[notes]", "data-type" => "textarea"} Has a lot of money.
            %li
              / select menu, single-dimensional array
              %span{"data-name" => "customer[gender]", "data-options" => "[\"Male\", \"Female\", \"Unknown\"]", "data-type" => "select"} Unknown
            %li
              / select menu, multi-dimensional array
              %span{"data-name" => "customer[personality]", "data-options" => "[[\"Calm\", \"calm\"], [\"Excitable\", \"excitable\"], [\"Outrageous\", \"outrageous\"]]", "data-type" => "select"} Calm
            %li
              / select menu, with custom prompt
              %span{"data-name" => "customer[level_of_interest]", "data-options" => "[\"Not at all\", \"Somewhat\", \"Extremely\"]", "data-prompt" => "How are interested are you?", "data-type" => "select"} Not at all
            %li
              / radio, single-dimensional array
              %span{"data-name" => "customer[eye_color]", "data-options" => "[\"Blue\", \"Brown\", \"Hazel\"]", "data-type" => "radio"} Brown
            %li
              / radio, multi-dimensional array
              %span{"data-name" => "customer[hair_color]", "data-options" => "[[\"Brown\", \"brown\"], [\"Blonde\", \"blonde\"], [\"Red\", \"red\"]]", "data-type" => "radio"} Brown
            %li
              / checkbox
              %span{"data-name" => "customer[is_alive]", "data-type" => "checkbox"} true
              %span{"data-name" => "customer[is_dead]", "data-type" => "checkbox"} false
            %li
              / checkbox with custom values
              %span{"data-checked_value" => "yes", "data-name" => "customer[likes_cheese]", "data-type" => "checkbox", "data-unchecked_value" => "no"} yes
            %li
              / non-existant input type
              %span{"data-name" => "customer[is_confused]", "data-type" => "fail"} true
            %li
              / input with *class* attribute
              %span{ :id => "customer_is_classy", :class => "special", "data-name" => "customer[is_classy]", :foo => "bar"} of course
              
    :javascript
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
      jasmine.getEnv().execute();
    